body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:322px;
  width:270px;
  height:34px;
}
#u2314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:355px;
  width:270px;
  height:1px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:332px;
  width:20px;
  height:19px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:265px;
  width:128px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u2321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:607px;
  width:294px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:352px;
  width:200px;
  height:1px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:338px;
  width:352px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:118px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:539px;
  width:352px;
  height:118px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:625px;
  width:200px;
  height:1px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:116px;
  width:139px;
  height:139px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:166px;
  width:40px;
  height:40px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:448px;
  width:270px;
  height:34px;
}
#u2336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:481px;
  width:270px;
  height:1px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:458px;
  width:20px;
  height:19px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:385px;
  width:270px;
  height:34px;
}
#u2342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:418px;
  width:270px;
  height:1px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:395px;
  width:20px;
  height:19px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:285px;
  width:200px;
  height:1px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:271px;
  width:352px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:285px;
  width:270px;
  height:179px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:1842px;
  top:300px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:96px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:322px;
  width:243px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:243px;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:418px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:418px;
  width:270px;
  height:1px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:418px;
  width:1px;
  height:46px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:418px;
  width:270px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:270px;
  word-wrap:break-word;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:486px;
  width:270px;
  height:179px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:1842px;
  top:501px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:96px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:523px;
  width:243px;
  height:96px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:243px;
  word-wrap:break-word;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:619px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:619px;
  width:270px;
  height:1px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:1906px;
  top:619px;
  width:1px;
  height:46px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:1771px;
  top:619px;
  width:270px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:270px;
  word-wrap:break-word;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:507px;
  width:20px;
  height:20px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:512px;
  width:10px;
  height:10px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:509px;
  width:30px;
  height:18px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:506px;
  width:20px;
  height:20px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:511px;
  width:10px;
  height:10px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:508px;
  width:30px;
  height:18px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:560px;
  width:20px;
  height:20px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:565px;
  width:10px;
  height:10px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:562px;
  width:30px;
  height:18px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:560px;
  width:20px;
  height:20px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:565px;
  width:10px;
  height:10px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:562px;
  width:30px;
  height:18px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:507px;
  width:44px;
  height:18px;
  color:#CCCCCC;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:561px;
  width:44px;
  height:18px;
  color:#CCCCCC;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:62px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:501px;
  width:380px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:515px;
  width:60px;
  height:1px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
