body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:667px;
}
#u520_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:667px;
  overflow:auto;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:203px;
  width:375px;
  height:32px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:375px;
  height:50px;
  opacity:0;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u523_ref {
  border-width:0px;
  position:absolute;
  left:367px;
  top:232px;
  width:1px;
  height:1px;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:576px;
  width:280px;
  height:60px;
  opacity:0;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:276px;
  word-wrap:break-word;
}
#u525_ref {
  border-width:0px;
  position:absolute;
  left:324px;
  top:626px;
  width:1px;
  height:1px;
}
