body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:73px;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:125px;
  width:380px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u6676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:139px;
  width:60px;
  height:1px;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:616px;
  width:375px;
  height:51px;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u6684 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:624px;
  width:24px;
  height:23px;
  font-size:11px;
}
#u6685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:626px;
  width:24px;
  height:17px;
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6692 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6694 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:626px;
  width:24px;
  height:24px;
}
#u6695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u6699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:624px;
  width:24px;
  height:23px;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:618px;
  width:66px;
  height:43px;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:620px;
  width:39px;
  height:39px;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:617px;
  width:72px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:81px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:617px;
  width:76px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:617px;
  width:76px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:620px;
  width:66px;
  height:43px;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:602px;
  width:49px;
  height:49px;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  word-wrap:break-word;
}
#u6716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:653px;
  width:60px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:653px;
  width:60px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:620px;
  width:66px;
  height:43px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:602px;
  width:49px;
  height:49px;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u6726 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:602px;
  width:76px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
