body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u9025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u9026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:73px;
}
#u9028 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:125px;
  width:380px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9029 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u9030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u9030 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:139px;
  width:60px;
  height:1px;
}
#u9031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9033 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:616px;
  width:375px;
  height:51px;
}
#u9034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u9036 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u9037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u9038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u9038 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:624px;
  width:24px;
  height:23px;
  font-size:11px;
}
#u9039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u9041 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u9042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u9043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u9043 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:626px;
  width:24px;
  height:17px;
}
#u9044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u9046 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u9047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u9048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9048 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:626px;
  width:24px;
  height:24px;
}
#u9049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u9051 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:617px;
  width:70px;
  height:50px;
  font-size:11px;
  color:#CCCCCC;
}
#u9052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:66px;
  word-wrap:break-word;
}
#u9053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u9053 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:624px;
  width:24px;
  height:23px;
}
#u9054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u9056 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:618px;
  width:66px;
  height:43px;
}
#u9057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u9058 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:620px;
  width:39px;
  height:39px;
}
#u9059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u9060 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:617px;
  width:72px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:81px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9062 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:617px;
  width:76px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9063 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:617px;
  width:76px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u9066 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:620px;
  width:66px;
  height:43px;
}
#u9067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9068 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:602px;
  width:49px;
  height:49px;
}
#u9069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  word-wrap:break-word;
}
#u9070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u9070 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:653px;
  width:60px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u9073 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:653px;
  width:60px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:43px;
}
#u9076 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:620px;
  width:66px;
  height:43px;
}
#u9077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9078 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:602px;
  width:49px;
  height:49px;
}
#u9079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u9080 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:602px;
  width:76px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
