body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:268px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:375px;
  height:268px;
}
#u8935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:505px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8936 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:755px;
  width:337px;
  height:505px;
}
#u8937 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u8938 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:781px;
  width:160px;
  height:160px;
}
#u8939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:88px;
}
#u8940 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:816px;
  width:92px;
  height:88px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u8942 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:961px;
  width:130px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u8943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u8944 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:1049px;
  width:300px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u8945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u8946 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1136px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#000000;
}
#u8947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u8948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u8948 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1202px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#1E1E1E;
}
#u8949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u8950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8950 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:699px;
  width:375px;
  height:667px;
}
#u8951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u8953 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:773px;
  width:160px;
  height:160px;
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:88px;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:808px;
  width:92px;
  height:88px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u8957 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:975px;
  width:130px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u8959 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:1070px;
  width:300px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
  text-align:center;
}
#u8960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u8961 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:1148px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#000000;
}
#u8962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u8963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u8963 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:1214px;
  width:175px;
  height:46px;
  font-size:16px;
  color:#1E1E1E;
}
#u8964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u8965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:773px;
  width:37px;
  height:37px;
}
#u8966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u8967 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:726px;
  width:37px;
  height:37px;
}
#u8968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u8972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u8973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u8973 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u8974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8976 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:32px;
  width:25px;
  height:25px;
}
#u8977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:608px;
  width:375px;
  height:59px;
  font-size:16px;
  color:#FFFFFF;
}
#u8980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
}
#u8981 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:615px;
  width:148px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u8982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u8983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
}
#u8983 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:639px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u8985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8985 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:616px;
  width:40px;
  height:40px;
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:616px;
  width:135px;
  height:41px;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:131px;
  word-wrap:break-word;
}
#u8989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u8990 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:98px;
  width:111px;
  height:111px;
}
#u8991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:61px;
}
#u8992 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:122px;
  width:64px;
  height:61px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u8994 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:227px;
  width:130px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u8995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u8996 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:277px;
  width:300px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u8997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u8998 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:412px;
  width:337px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u8999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u9000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u9000 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:362px;
  width:32px;
  height:32px;
}
#u9001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  word-wrap:break-word;
}
#u9002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u9002 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:369px;
  width:50px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u9003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u9004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u9004 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:485px;
  width:269px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u9005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u9006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9007 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:520px;
  width:49px;
  height:49px;
}
#u9008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u9009 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:531px;
  width:29px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u9011 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:575px;
  width:62px;
  height:13px;
  font-size:13px;
  text-align:center;
}
#u9012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9014 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:520px;
  width:49px;
  height:49px;
}
#u9015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u9016 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:531px;
  width:29px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u9018 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:575px;
  width:49px;
  height:15px;
  font-size:13px;
  text-align:center;
}
#u9019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u9020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9021 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:520px;
  width:49px;
  height:49px;
}
#u9022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u9023 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:531px;
  width:29px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u9025 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:575px;
  width:66px;
  height:11px;
  font-size:13px;
  text-align:center;
}
#u9026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
