body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u13579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u13581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u13582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u13582 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:32px;
  width:25px;
  height:25px;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:608px;
  width:375px;
  height:59px;
  font-size:16px;
  color:#FFFFFF;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:615px;
  width:148px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u13592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:639px;
  width:112px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u13594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:616px;
  width:40px;
  height:40px;
}
#u13595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u13596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13596 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:616px;
  width:135px;
  height:41px;
}
#u13597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:131px;
  word-wrap:break-word;
}
#u13598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:46px;
}
#u13598 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:11px;
  width:380px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13599 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u13600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:729px;
  width:375px;
  height:544px;
  overflow:hidden;
  visibility:hidden;
}
#u13600_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:544px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u13600_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:110px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:110px;
  font-size:18px;
  color:#FFFFFF;
}
#u13602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13603 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:11px;
  width:50px;
  height:50px;
}
#u13604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u13605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13605 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:78px;
  width:109px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u13608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:129px;
}
#u13609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13610 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:75px;
  width:100px;
  height:100px;
}
#u13611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u13612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13612 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:75px;
  width:198px;
  height:18px;
  color:#000000;
}
#u13613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u13614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u13615 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:102px;
  width:40px;
  height:16px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u13616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u13617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13617 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:102px;
  width:16px;
  height:16px;
}
#u13618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13619 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:158px;
  width:79px;
  height:17px;
  color:#CCCCCC;
}
#u13620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u13621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13621 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:128px;
  width:67px;
  height:19px;
  color:#CCCCCC;
}
#u13622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u13623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u13623 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:128px;
  width:70px;
  height:19px;
  color:#CCCCCC;
  text-align:left;
}
#u13624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u13625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u13625 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:157px;
  width:70px;
  height:19px;
  color:#CCCCCC;
  text-align:left;
}
#u13626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u13627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13627 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:158px;
  width:79px;
  height:17px;
  color:#CCCCCC;
}
#u13628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u13629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13629 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:128px;
  width:67px;
  height:19px;
  color:#CCCCCC;
}
#u13630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u13631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13631 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:456px;
  width:325px;
  height:47px;
  color:#CCCCCC;
}
#u13632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13634 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:463px;
  width:32px;
  height:32px;
  color:#999999;
}
#u13635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13636 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:467px;
  width:20px;
  height:20px;
  color:#999999;
}
#u13637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u13638 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:473px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#CCCCCC;
}
#u13639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u13640 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:473px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u13641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13642 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:241px;
  width:35px;
  height:35px;
}
#u13643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u13644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u13644 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:249px;
  width:139px;
  height:18px;
  color:#000000;
  text-align:center;
}
#u13645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u13646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13646 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:409px;
  width:325px;
  height:47px;
  color:#000000;
}
#u13647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u13648 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:425px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#000000;
}
#u13649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13651 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:416px;
  width:32px;
  height:32px;
  color:#999999;
}
#u13652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u13653 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:424px;
  width:19px;
  height:16px;
  color:#999999;
}
#u13654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u13655 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:425px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u13656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13657 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:292px;
  width:259px;
  height:117px;
  color:#000000;
}
#u13658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13660 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:299px;
  width:32px;
  height:32px;
  color:#999999;
}
#u13661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u13662 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:307px;
  width:19px;
  height:16px;
  color:#999999;
}
#u13663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u13664 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:308px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#000000;
}
#u13665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u13666 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:308px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u13667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13668 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:379px;
  width:58px;
  height:14px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13670 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:379px;
  width:58px;
  height:14px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13672 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:379px;
  width:58px;
  height:15px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13675 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:341px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u13677 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:344px;
  width:19px;
  height:23px;
  color:#000000;
}
#u13678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13679 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:379px;
  width:63px;
  height:15px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u13681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13682 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:341px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13684 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:349px;
  width:15px;
  height:15px;
  color:#000000;
}
#u13685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13686 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:341px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13689 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:341px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13692 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:350px;
  width:6px;
  height:6px;
  color:#000000;
}
#u13693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u13694 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:348px;
  width:17px;
  height:14px;
  color:#000000;
}
#u13695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13696 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:359px;
  width:255px;
  height:153px;
  color:#000000;
}
#u13697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u13698 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:370px;
  width:99px;
  height:12px;
  font-size:13px;
  color:#000000;
}
#u13699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u13700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u13700 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:370px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#000000;
  text-align:right;
}
#u13701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13702 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:444px;
  width:58px;
  height:14px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13704 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:444px;
  width:58px;
  height:15px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13706 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:359px;
  width:32px;
  height:32px;
  color:#000000;
}
#u13707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u13708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13708 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:444px;
  width:58px;
  height:14px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13711 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:406px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13714 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:415px;
  width:6px;
  height:6px;
  color:#000000;
}
#u13715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u13716 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:413px;
  width:17px;
  height:14px;
  color:#000000;
}
#u13717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13719 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:407px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
}
#u13721 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:410px;
  width:19px;
  height:23px;
  color:#000000;
}
#u13722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13723 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:478px;
  width:50px;
  height:25px;
  color:#000000;
}
#u13724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u13725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u13725 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:423px;
  width:11px;
  height:20px;
  color:#000000;
}
#u13726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13727 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:407px;
  width:28px;
  height:28px;
  color:#000000;
}
#u13728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13729 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:444px;
  width:58px;
  height:14px;
  font-size:13px;
  color:#000000;
  text-align:center;
}
#u13730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13732 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:406px;
  width:30px;
  height:30px;
  color:#000000;
}
#u13733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13734 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:414px;
  width:15px;
  height:15px;
  color:#000000;
}
#u13735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:200px;
}
#u13736 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:18px;
  width:422px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13737 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:402px;
  word-wrap:break-word;
}
#u13738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u13738 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:107px;
  width:60px;
  height:1px;
}
#u13739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13741 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:301px;
  width:32px;
  height:32px;
  color:#999999;
}
#u13742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u13743 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:309px;
  width:19px;
  height:16px;
  color:#999999;
}
#u13744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u13745 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:310px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#CCCCCC;
}
#u13746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u13747 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:310px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u13748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:544px;
  width:99px;
  height:12px;
  font-size:13px;
  color:#CCCCCC;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u13751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:544px;
  width:58px;
  height:12px;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:533px;
  width:32px;
  height:32px;
  color:#000000;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
