body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u5841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:31px;
  width:22px;
  height:22px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:28px;
  width:31px;
  height:31px;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:34px;
  width:14px;
  height:20px;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:51px;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:100px;
  width:380px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u5854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:114px;
  width:60px;
  height:1px;
}
#u5855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
}
#u5856_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  overflow:auto;
}
#u5857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5857 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:32px;
  width:24px;
  height:24px;
}
#u5858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:587px;
}
#u5859 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:64px;
  width:329px;
  height:587px;
}
#u5860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
