body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u4552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:630px;
  width:30px;
  height:18px;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:630px;
  width:30px;
  height:18px;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:626px;
  width:73px;
  height:35px;
  text-align:center;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
.u4559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u4559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  text-align:left;
}
.u4560 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:16px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4561 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:17px;
  width:235px;
  height:16px;
}
.u4562 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
.u4561_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u4563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
.u4563 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:15px;
  width:51px;
  height:18px;
  color:#CCCCCC;
}
.u4564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4558-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u4558-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:375px;
  height:49px;
}
#u4558-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:375px;
  height:49px;
}
#u4558-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:375px;
  height:49px;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:18px;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:46px;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:74px;
  width:380px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u4571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:88px;
  width:60px;
  height:1px;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
